In [1]:
import warnings;warnings.filterwarnings('ignore')
import collections
import pandas as pd
from spacy.lang.en.stop_words import STOP_WORDS
import numpy as np

## We are going to experiment tf-idf on 3 sets of texts & document similarity

In [2]:
doc_sets = {
    'set-1':["india won 2011 world cup",
            "virat is captain of indian cricket team",
            "Music is an art form and cultural activity whose medium is sound"
           ],
    'set-2':["indian cricket team won 2011 world cup",
            "virat is captain of indian cricket team",
            "Music is an art form and cultural activity whose medium is sound"
           ],
    'set-3':["man bites dog",
             "dog bites man"
           ]
}

In [3]:
docs1 = doc_sets['set-1']
docs2 = doc_sets['set-2']
docs3 = doc_sets['set-3']

In [4]:
docs1 = list(map(lambda x: x.split(),docs1))
docs2 = list(map(lambda x: x.split(),docs2))
docs3 = list(map(lambda x: x.split(),docs3))

In [5]:
docs1 = collections.OrderedDict({i:doc for i,doc in enumerate(docs1)})
docs2 = collections.OrderedDict({i:doc for i,doc in enumerate(docs2)})
docs3 = collections.OrderedDict({i:doc for i,doc in enumerate(docs3)})

In [6]:
for k,v in docs1.items():
    docs1[k] = [word for word in v if word not in STOP_WORDS]
    
for k,v in docs2.items():
    docs2[k] = [word for word in v if word not in STOP_WORDS]
    
for k,v in docs3.items():
    docs3[k] = [word for word in v if word not in STOP_WORDS]

In [7]:
uniquewords1 = set()
for doc in docs1.values():
    uniquewords1.update(doc)
print("Doc set-1",len(uniquewords1))

uniquewords2 = set()
for doc in docs2.values():
    uniquewords2.update(doc)
print("Doc set-2",len(uniquewords2))

uniquewords3 = set()
for doc in docs3.values():
    uniquewords3.update(doc)
print("Doc set-3",len(uniquewords3))

Doc set-1 17
Doc set-2 16
Doc set-3 3

In [8]:
num_of_words1=collections.OrderedDict()
for k,words in docs1.items():
    num_of_words1[k] = dict.fromkeys(uniquewords1,0)
    for word in words:
        num_of_words1[k][word]+=1
        
num_of_words2=collections.OrderedDict()
for k,words in docs2.items():
    num_of_words2[k] = dict.fromkeys(uniquewords2,0)
    for word in words:
        num_of_words2[k][word]+=1
        
num_of_words3=collections.OrderedDict()
for k,words in docs3.items():
    num_of_words3[k] = dict.fromkeys(uniquewords3,0)
    for word in words:
        num_of_words3[k][word]+=1

## Term Frequency(TF):

    number of times each term occurs in each document
    
    weight of a term that occurs in a document is proportional to the term frequency
    
    tf(t,d) = count of t in d / number of terms in d

In [9]:
def compute_tf(num_of_words,docs):
    tf=collections.OrderedDict()
    for k,doc in num_of_words.items():
        tf[k]={}
        doc_len = len(docs[k])
        for word,count in doc.items():
            tf[k][word]=count/doc_len
    return tf

In [10]:
tf1 = compute_tf(num_of_words1,docs1)
tf2 = compute_tf(num_of_words2,docs2)
tf3 = compute_tf(num_of_words3,docs3)

In [11]:
import math

## Document Frequency(DF):

    Document Frequency is the count of occurrences of term t in the document set N.
    
    df(t) = occurences of t in documents
    
## Inverse Document Frequency(IDF):   

    While computing TF, all the terms are considered equally important. However, it is known that certain terms "is, of, that", may appear a lot of times but have little importance. Thus we need to weigh down the frequent terms while scale up the rare ones, by computing IDF, an inverse document frequency factor is incorporated which diminishes the weight of terms that occur very frequently in the document set and increases the weight of terms that occur rarely.
    
    IDF is the inverse of the document frequency which measures the informativeness of term t.
    
    idf(t) = N/df(t)
    
    Now there are few other problems with the IDF , in case of a large corpus,say 100,000,000 , the IDF value explodes , to avoid the effect we take the log of idf .
    
    idf(t) = log( N/ df(t) )

In [12]:
def compute_idf(uniquewords,num_of_words):
    N = len(num_of_words)
    idf = dict.fromkeys(uniquewords,0)
    for k,doc in num_of_words.items():
        for word,count in doc.items():
            if count>0:
                idf[word]+=1
    for word,val in idf.items():
        idf[word] = math.log(N/float(val+1))
    return idf

In [13]:
idf1 = compute_idf(uniquewords1,num_of_words1)
idf2 = compute_idf(uniquewords2,num_of_words2)
idf3 = compute_idf(uniquewords3,num_of_words3)

## Term Frequency - Inverse Document Frequency:

    tf-idf is a the right measure to evaluate how important a word is to a document in a collection or corpus.
    
    tf-idf(t,d) = tf(t,d) * idf(t)

In [14]:
def compute_tfidf(tf,idf):
    tfidf=collections.OrderedDict()
    for k,doc in tf.items():
        tfidf[k]={}
        for word,term_freq in doc.items():
            tfidf[k][word] = term_freq*idf[word]
    return tfidf

In [15]:
tfidf1 = compute_tfidf(tf1,idf1)
tfidf2 = compute_tfidf(tf2,idf2)
tfidf3 = compute_tfidf(tf3,idf3)

### Doc Set 1:

In [16]:
tfidf_df1 = pd.DataFrame(tfidf1).T
tfidf_df1

,2011,Music,activity,art,captain,cricket,cultural,cup,form,india,indian,medium,sound,team,virat,won,world
0,0.081093,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.081093,0.000000,0.081093,0.000000,0.000000,0.000000,0.000000,0.000000,0.081093,0.081093
1,0.000000,0.000000,0.000000,0.000000,0.081093,0.081093,0.000000,0.000000,0.000000,0.000000,0.081093,0.000000,0.000000,0.081093,0.081093,0.000000,0.000000
2,0.000000,0.057924,0.057924,0.057924,0.000000,0.000000,0.057924,0.000000,0.057924,0.000000,0.000000,0.057924,0.057924,0.000000,0.000000,0.000000,0.000000

In [17]:
A = tfidf_df1.to_numpy()

In [18]:
def document_sim(A):
    doc_dot_mat = np.matmul(A,A.T)
    mod = np.sqrt(np.square(A).sum(1))
    res = doc_dot_mat / np.matmul(mod.reshape(-1,1),mod.reshape(1,-1))
    return res

In [19]:
doc_sim1 = document_sim(tfidf_df1.to_numpy())

In [20]:
for i in range(len(docs1)):
    for j in range(i+1,len(docs1)):
        print("Doc-{} vs Doc-{} = {}".format(i+1,j+1,doc_sim1[i,j]))

Doc-1 vs Doc-2 = 0.0
Doc-1 vs Doc-3 = 0.0
Doc-2 vs Doc-3 = 0.0

    Since, there are no common words in all 3 different texts, the similarity between them is 0

### Doc Set 2:

In [21]:
tfidf_df2 = pd.DataFrame(tfidf2).T
tfidf_df2

,2011,Music,activity,art,captain,cricket,cultural,cup,form,indian,medium,sound,team,virat,won,world
0,0.057924,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.057924,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.057924,0.057924
1,0.000000,0.000000,0.000000,0.000000,0.081093,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.081093,0.000000,0.000000
2,0.000000,0.057924,0.057924,0.057924,0.000000,0.0,0.057924,0.000000,0.057924,0.0,0.057924,0.057924,0.0,0.000000,0.000000,0.000000

In [22]:
A = tfidf_df2.to_numpy()

In [23]:
def document_sim(A):
    doc_dot_mat = np.matmul(A,A.T)
    mod = np.sqrt(np.square(A).sum(1))
    res = doc_dot_mat / np.matmul(mod.reshape(-1,1),mod.reshape(1,-1))
    return res

In [24]:
doc_sim2 = document_sim(tfidf_df2.to_numpy())

In [25]:
for i in range(len(docs2)):
    for j in range(i+1,len(docs2)):
        print("Doc-{} vs Doc-{} = {}".format(i+1,j+1,doc_sim2[i,j]))

Doc-1 vs Doc-2 = 0.0
Doc-1 vs Doc-3 = 0.0
Doc-2 vs Doc-3 = 0.0

    Document 1 and Document 2 has common words "indian, cricket, team" - it has simalirity 0.125. But other combinations has no common words, so similarity is 0

### Doc Set 3:

In [26]:
tfidf_df3 = pd.DataFrame(tfidf3).T
tfidf_df3

      bites       dog       man
0 -0.135155 -0.135155 -0.135155
1 -0.135155 -0.135155 -0.135155

In [27]:
A = tfidf_df3.to_numpy()

In [28]:
def document_sim(A):
    doc_dot_mat = np.matmul(A,A.T)
    mod = np.sqrt(np.square(A).sum(1))
    res = doc_dot_mat / np.matmul(mod.reshape(-1,1),mod.reshape(1,-1))
    return res

In [29]:
doc_sim3 = document_sim(tfidf_df3.to_numpy())

In [30]:
for i in range(len(docs3)):
    for j in range(i+1,len(docs3)):
        print("Doc-{} vs Doc-{} = {}".format(i+1,j+1,doc_sim3[i,j]))

Doc-1 vs Doc-2 = 1.0

    Document 1 and Document 2 has all words in common ,it has simalirity 1.

## Inference:
    
    (i) word's occurence in more number of documents inversely proportional to tf-idf score
    
    (ii) if word in a document is occured more number of times, term frequency will be high (i.e., word occured 5 times out of 10 words in a document, 5/10 = 0.5 whereas other words occured 1 time, 1/10=0.1)
    
    (iii) following point (ii), if word present in very few documents, word will have high tfidf score. For instance,
    
        Total documents = 200
        
                    (A)                                            (B)
        
        word - occured documents = 10                 word - occured documents = 190
        IDF = math.log(200/10) = 2.9957               IDF = math.log(200/190) = 0.0512
        
        Assume document of length 10 and word occured only one time, thus tf will be 0.1
        tf = 1/10 = 0.1
        TFIDF = 0.1 * 2.9957 = 0.2995                 TFIDF = 0.1 * 0.0512 = 0.0051
        
        See, (A) has high tfidf score than (B)
        
    (iv) if word present in very few documents and occured more times in a document, word will have very high tfidf score. For instance,
    
        Total documents = 200
        
                    (A)                                          (B)
        
        word - occured documents = 5                  word - occured documents = 180
        IDF = math.log(200/5) = 3.6888                IDF = math.log(200/190) = 0.1053
        
        Assume document of length 10 and word occured 7 times, thus tf will be 0.7
        tf = 7/10 = 0.7
        TFIDF = 0.7 * 3.6888 = 2.5822                 TFIDF = 0.7 * 0.1053 = 0.0737
        
        See, (A) has very high tfidf score than (B) because of its high term frequency.

## Disadvantage:

    (i) From doc set 1:

        Doc 1: india won 2011 world cup

        Dco 2: virat is captain of indian cricket team

        Both these docs are related, but tf-idf cannot capture document similarity between them, because exact terms are not present in both.
        
        As a result, fails to capture words similarity. i.e., india & indian
        
    (ii) From doc set 3:
    
        Doc 1: man bites dog
        
        Dco 2: dog bites man
        
        Both docs are semantically different, but tfidf vector for both the docs are same, hence simialrity between them turns out to be 1.
        
        As a result, fails to capture semantics

## Advantage:

    (i) simple algorithm for matching query words relavant to document words
    
    (ii) easy to compute